<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.demo.mapper.MenuMapper">
    <resultMap id="authorMap" type="com.springboot.demo.entity.Menu">
        <result column="roleId" jdbcType="VARCHAR" />
        <result column="roleName" jdbcType="VARCHAR" />
        <result column="permitId" jdbcType="VARCHAR" />
        <result column="permitType" jdbcType="VARCHAR" />
        <result column="permitDesc" jdbcType="VARCHAR" />
        <result column="parentNode" jdbcType="VARCHAR" />
        <result column="permitUrl" jdbcType="VARCHAR" />
        <result column="orderNum" jdbcType="VARCHAR" />
        <result column="createBy" jdbcType="VARCHAR" />
        <result column="createTime" jdbcType="VARCHAR" />

    </resultMap>
    <!--根据角色获取菜单列表-->
    <select id="getMenuListByRole" resultType="com.springboot.demo.entity.Menu">
        select
       concat((
         case when tp.parent_node = '' or tp.parent_node is null
         then '' else  tp.parent_node
         end),tp.permit_url) as permitUrl
from t_role_permit as trp
            left join t_permit as tp on trp.permit_id = tp.permit_id
            left join t_role as tr on trp.role_id = tr.role_id
where trp.role_id = #{roleId}
    </select>


</mapper>